// 格線
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -12px;
  margin-left: -12px;
}
@for $i from 1 through 12 {
  .col-#{$i} {
    width: calc(100% / 12 * $i);
    padding-left: 12px;
    padding-right: 12px;
  }
}

.productdetails-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -4px;
  margin-left: -4px;
}
@for $i from 1 through 12 {
  .productdetails-col-#{$i} {
    width: calc(100% / 12 * $i);
    padding-left: 4px;
    padding-right: 4px;
  }
}
.container {
  margin: 0 auto;
  max-width: 1296px;
}
.container-story {
  margin: 0 auto;
  max-width: 856px;
}
.banner {
  background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/hero-sm.png?raw=true');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.banner-bg {
  background-color: #00000066;
  padding: 151px 0;
  margin-bottom: 64px;
  text-align: center;
}

.footer-bg {
  background-color: $neutral-100;
}
.footer-nav {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  @for $i from 1 through 12 {
    .col-sm-#{$i} {
      width: calc(100% / 12 * $i);
      padding-left: 12px;
      padding-right: 12px;
    }
  }
  .row-sm-pjl {
    display: flex;
    flex-wrap: wrap;
    margin-right: -6px;
    margin-left: -6px;
  }
  @for $i from 1 through 12 {
    .col-sm-pjl-#{$i} {
      width: calc(100% / 12 * $i);
      padding-left: 6px;
      padding-right: 6px;
    }
  }
  .productdetails-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
  }
  .container {
    padding: 0 12px;
  }
  .container-story {
    padding: 0 12px;
  }
  .banner-bg {
    padding: 87px 0;
    margin-bottom: 32px;
  }
  .footer-nav {
    flex-direction: column;
    align-items: flex-start;
  }
}
