// 品牌故事介紹
.intro {
  margin-bottom: 48px;
  padding: 32px;
  background-color: $primary-100;
  text-align: center;
}
// 品牌故事照片
.introduction-img {
  margin-left: -110px;
  margin-right: -110px;
  margin-bottom: 24px;
}
// 品牌故事頁-品牌歷程區塊
.course {
  padding-left: 40px;
  text-indent: -2em;
  list-style-type: disc;
  list-style-position: inside;
}
// 漢堡屑
.breadcrumb-item {
  display: inline-block;
  &:not(:last-child)::after {
    margin: 0 12px;
    content: '/';
    color: $neutral-300;
  }
}

// 按鈕
.btn {
  border: 0px;
  background-color: transparent;
  cursor: pointer;
}
// 按鈕黑底
.btn-dark {
  color: #ffffff;
  background-color: $neutral-900;
  padding: 12px 24px;
  &:hover {
    background-color: $neutral-700;
  }
}
// 禁用按鈕
.btn:disabled {
  pointer-events: none;
}
// 文字hover效果
.btn-hover-primary-400 {
  &:hover {
    color: $primary-400;
  }
}
.btn-hover-primary-500 {
  &:hover {
    color: $primary-500;
  }
}
//nav-person-icon
.btn-person-icon {
  padding: 12px;
}
// 商品詳情頁面-尺寸按鈕
.btn-size {
  border: 1px solid $neutral-300;
  padding: 12px 24px;
  width: 160px;
  &:hover {
    border: 1px solid $neutral-600;
  }
  &-active {
    border: 1px solid $neutral-900;
  }
}
// 商品詳情頁面-預約試穿按鈕
.btn-test {
  display: block;
  width: 100%;
  border: 1px solid $neutral-900;
  padding: 12px 0;
  i {
    margin-right: 2px;
  }
}
// 商品詳情頁面-加入收藏按鈕
.btn-like {
  width: 100%;
  border: 1px solid $neutral-900;
  padding: 12px 0;
  i {
    margin-right: 2px;
  }
  &:hover {
    background-color: $neutral-900;
    color: #ffffff;
    i {
      color: #ffffff;
    }
  }
  &:active {
    background-color: transparent;
    color: $neutral-900;
    i {
      color: $neutral-900;
    }
  }
}
// 商品列表頁-頁數按鈕
.btn-page {
  color: $neutral-900;
  width: 40px;
  height: 40px;
  &:hover {
    background-color: $neutral-100;
  }
  &:active {
    background-color: $primary-300;
  }
}
// btn-page中已選取
.active {
  background-color: $primary-300;
}
//品牌故事-品牌小故事icon
.btn-arrow-right {
  width: 20px;
  height: 20px;
}

// 加入會員區塊的背景
.bg-primary-200 {
  background-color: $primary-200;
}
// 下底線顏色為primary
.border-bottom-primary {
  border-bottom: 1px solid $primary-400;
}
// 下底線顏色為neutral
.border-bottom-neutral {
  border-bottom: 1px solid $neutral-300;
}
// 上邊線顏色為neutral
.border-top-neutral {
  border-top: 1px solid $neutral-300;
}
// 品牌故事-品牌理念-左邊線
.border-left-3 {
  padding-left: 12px;
  border-left: 3px solid #dee2e6;
}

@media (max-width: 768px) {
  // 品牌故事頁-鞋子圖片
  .introduction-img {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 16px;
  }
  // 品牌故介紹
  .intro {
    margin-bottom: 32px;
    padding: 24px;
    text-align: left;
  }
  .btn-dark {
    padding: 8px 16px;
  }
  // 手機板-產品詳情頁面-你可能也喜歡...
  .maybe {
    // 圖片
    &-img {
      max-width: 300px;
      height: 300px;
      min-width: auto;
    }
    // 區塊
    &-box {
      column-gap: 16px;
      overflow-x: auto;
      flex-wrap: nowrap;
      margin-left: 0;
      margin-bottom: 0;
      padding-bottom: 40px;
    }
  }
}
