.intro {
  margin-bottom: 48px;
  padding: 32px;
  background-color: $primary-100;
  text-align: center;
}
.introduction-img {
  margin-left: -110px;
  margin-right: -110px;
  margin-bottom: 24px;
}
.course {
  padding-left: 40px;
  text-indent: -2em;
  list-style-type: disc;
  list-style-position: inside;
}
// 漢堡屑
.breadcrumb-item {
  display: inline-block;
}
.breadcrumb-item:not(:last-child)::after {
  margin: 0 12px;
  content: '/';
  color: $neutral-300;
}

// 按鈕
.btn {
  border: 0px;
  background-color: transparent;
  cursor: pointer;
}
.btn-neutral {
  color: $neutral-900;
}
.btn-dark {
  color: #ffffff;
  background-color: $neutral-900;
  padding: 12px 24px;
  &:hover {
    background-color: $neutral-700;
  }
}
.btn:disabled {
  pointer-events: none;
}

.btn-size {
  border: 1px solid $neutral-300;
  padding: 12px 24px;
  width: 160px;
  &:hover {
    border: 1px solid $neutral-600;
  }
  &-active {
    border: 1px solid $neutral-900;
  }
}
.btn-test {
  display: block;
  width: 100%;
  border: 1px solid $neutral-900;
  padding: 12px 0;
  i {
    margin-right: 2px;
  }
}
.btn-like {
  width: 100%;
  border: 1px solid $neutral-900;
  padding: 12px 0;
  i {
    margin-right: 2px;
  }
  &:hover {
    background-color: $neutral-900;
    color: #ffffff;
    i {
      color: #ffffff;
    }
  }
  &:active {
    background-color: transparent;
    color: $neutral-900;
    i {
      color: $neutral-900;
    }
  }
}
.btn-page {
  width: 40px;
  height: 40px;
  &:hover {
    background-color: $neutral-100;
  }
  &:active {
    background-color: $primary-300;
  }
}
.btn-person-icon {
  padding: 12px;
}
.btn-arrow-right {
  width: 20px;
  height: 20px;
}

// 其他
.active {
  background-color: $primary-300;
}
.bg-primary-200 {
  background-color: $primary-200;
}
.border-bottom-primary {
  border-bottom: 1px solid $primary-400;
}
.border-bottom-neutral {
  border-bottom: 1px solid $neutral-300;
}
.border-top-neutral {
  border-top: 1px solid $neutral-300;
}
.border-left-3 {
  padding-left: 12px;
  border-left: 3px solid #dee2e6;
}

@media (max-width: 768px) {
  .introduction-img {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 16px;
  }
  .intro {
    margin-bottom: 32px;
    padding: 24px;
    text-align: left;
  }
  .btn-dark {
    padding: 8px 16px;
  }
  .maybe-img {
    max-width: 300px;
    height: 300px;
    min-width: auto;
  }
  .maybe-box {
    column-gap: 16px;
    overflow-x: auto;
    flex-wrap: nowrap;
    margin-left: 0;
    margin-bottom: 0;
    padding-bottom: 40px;
  }
}
